@charset "utf-8";
@font-face {
	font-family: 'さくらいろフォント';
  src: url(../さくらいろフォント.ttf);
}
a:link,
a:visited,
a:active {
	color: #f8f4e6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #b7282e;
}

#index #nav_index,
#news #nav_news,
#life #nav_life,
#fee #nav_fee,
#q_a #nav_q_a,
#access #nav_access,
#contact #nav_contact,
#top_nav a:hover {
	text-decoration: underline;
	color: #b7282e;
	background: rgba(255,255,255,0.5);
}


body {
	abackground: #f8f4e6;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.5;
	overflow-y: scroll;
}

header,
#contents,
#top_nav,
footer #footer {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

header {
	background: url(../images/olive01.jpg) no-repeat center center;
	background-size: cover;
	height: 0;
	padding-bottom: 200px;
	position: relative;
	z-index: -10;
}

header h1 {
	position: absolute;
	top: 0;
	right: 0;
	height: 0;
	overflow: hidden;
	padding-top: 250px;
	width: 70%;
	background: url(../images/title_olive.png) no-repeat right top, url(../images/title_day.png) no-repeat left 40%; 
	background-size: 70%, 30%;
	z-index: -10;

}

#top_nav ul {
	overflow: hidden;
}

#top_nav ul li {
	box-sizing: border-box;
	float: left;
	width: 12.7%;
	height: 44px;
	background: #7b8d42;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-right: solid 1px #f8f4e6;
}

#top_nav ul li a{
	display: block;
	line-height: 46px;
	text-align: center;
	font-size: 120%;
	overflow: hidden;
}

#contents {
	overflow: hidden;
}

main {
	padding-top: 32px;
	width: 800px;
	float: left;
}

main a:link,
main a:visited,
main a:active {
	color: #000;
	text-decoration: underline;

}

main a:hover {
	text-decoration: underline;
	color: #b7282e;
}

aside {
	float: right;
	width:150px;
}

#sub {
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;	/*ieはtb=top-bottom*/
	font-size: 150%;
	padding: 32px 16px 16px 10px;
	box-shadow: -5px 5px 20px 0px #543f32;
	margin-bottom: 40px;
}

#sub p:last-child{
	font-size: 150%;

}

#bnr_icon {
	padding: 2px;
	border: solid 1px #7b8d42;
}

#bnr_icon img {
	width: 100%;
}

footer::before {
	content: "";
	background-image: url(../images/footer.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
	vertical-align: middle;
	width: 992px;
	height: 150px;
	display: block;
	margin:0 auto;
}

footer {
    margin-top: -20px;
	color: #f8f4e6;
}


footer #pagetop{
	position: fixed;
	bottom: 5px;
	right: -135px;
}
footer #pagetop a {
    display: block;
    height: 0;
    padding-top: 300px;
    width: 200px;
    background: url(../images/pagetop.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:  center bottom;
    color:black;
    overflow:hidden;
}
footer #footer{
	background: #7b8d42;
	overflow: hidden;
	padding: 16px;
}

footer nav{
	float: left;
	padding-right: 20px;
	border-right: dotted 1px #f8f4e6;
}

footer address {
	margin-left: 20px;
	float: left;
}

#main_left {
	box-sizing: border-box;
	float: left;
	padding-right: 16px;
	width: 50%;
}

main h1 {
	font-size: 120%;
	margin-bottom: 16px;
}

#main_right {
	box-sizing: border-box;
	float: right;
	padding-left: 16px;
	width: 50%;
}

#main_right img {
	width: 100%;
	border-radius: 50%;
	margin-bottom: 16px;
}

#main_right figure {
	text-align: center;
	margin-bottom: 32px;
}

main table {
	border-collapse: collapse;
	margin: 32px 0;
}

main table th,
main table td {
	padding: 0 6px 0;
	vertical-align: middle;
	border: solid 1px #7b8d42;
}

main table tr:nth-of-type(2n+1) {
	background-color: #e0ebaf;
}

#index main h1 {
    height: 0;
    padding-top: 100px;
    overflow: hidden;
    background-image: url(../images/index_title_g.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}

#life .life_3ren {
	overflow:hidden;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom: 1px solid #eee;
}

#life .life_3ren p {
	display: table-cell;
	avertical-align: middle;
	font-size: 120%;
	float: left;

}

#life .life_3ren p.time {
	text-align: center;
	width: 6em;
	margin-right: 32px;
	height: 100%;
}

#life .life_3ren p.photo {
	width: 300px;
	margin-right: 32px;
}

#life .life_3ren p.content {
	width: 300px;
	margin-right: 32px;
}
#life .life_3ren p:last-child {
	margin-right: 0;
} 
#life .life_3ren img {
	width: 300px;
}

#life .life_3ren span {
	font-size: 60%;
}

#fee table td, #fee table th {
	padding: 0 15px;
}

#fee table td:first-of-type {
	text-align: right;
}

#access #main img {
	overflow: hidden;
	width: 60%;
}	

#access #main p {
	padding: 16px 0;
	border-top: solid 1px #f8f4e6;
}

#access #main p:first-child,
#access #main p:last-child {
	border-top: none;
	text-align: center;
}

#news main p {
	margin: 16px 0;
}


#q_a #main {
	font-size: 120%;
}

#q_a #main ul li::before,
#q_a #main dl dt::before {
	content: " ";
	background: url(../images/question.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
	width: 4em;
	height: 4em;
	display: inline-block;
	margin-right: 8px;
}

#q_a #main ul {
	border-bottom: 1px solid #eee;
	padding-bottom: 16px;
	margin-bottom: 16px;
}

#q_a #main dl dd::before {
	content: " ";
	background: url(../images/answer.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-postion: center center;
	vertical-align: middle;
	width: 4em;
	height: 4em;
	display: inline-block;
}

#q_a #main dl {
	border-bottom: 1px solid #eee;
	padding-bottom: 16px;
	margin-bottom: 16px;
}

#contact table {
	border-collapse: separate;
	border-spacing: 16px;
	margin-top: 0;
	width: 100%;
}

#contact h2 {
	background: #7b8d42;
	color: #f8f4e6;
	text-align: center;
	font-size: 120%;
}

#contact .contact_kind p {
	text-align: center;
	font-size: 200%;
}

#contact .contact_kind {
	margin-bottom: 16px;
}

#contact table th,
#contact table td {
	border: none;
	padding: 16px;
}

#contact table th {
	background: #e0ebaf;
}

#contact table td { 
	background: #f0fbbf;
}

#contact table tr:nth-of-type(-n+2) input {
	width: 5em;
}

#contact table tr:nth-of-type(3) input {
	width: 10em;
}

#contact table tr:nth-of-type(4) input {
	width: 30em;
}

#contact table tr:nth-of-type(5) input,
#contact table tr:nth-of-type(6) input {
	width: 20em;
}

#contact table textarea {
	width: 30em;
	height: 10em
}

#contact form p:last-of-type {
	text-align: center;
}

#contact input[type="submit"] {
	background: #7b8d42;
	color: #f8f4e6;
	border: none;
	padding: 12px 30px;
	border-radius: 6px;
	font-size: 100%
}

#contact input[type="submit"]:hover {
	text-decoration: underline;
	color: #b7282e;
	background: rgba(123,141,66,0.5);
}